@media screen and ( min-width: 640px) and ( max-width: 1024px) {
    /* HEADER */

    header {
        position: relative;
        width: 100%;
        border-bottom: 2px solid #1fbed6;
        background-color: #fff;
    }

    .headerBlock {
        max-width: 960px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        background-color: orange;
        position: relative;


    }

    .header_ban {
        display: flex;
        max-width: 200px;
    }

    .header_ban_legend_color {
        color: #1ebed6;
    }

    .headerBlock section {
        display: flex;
        flex-direction: column;
    }

    .menu-toggler {
        display: none;
    }

    .menu-toggler__label {
        /*display: block;*/
        position: absolute;
        right: 10px;
        bottom: 0;
        width: 44px;
        height: 40%;
    }

    .menu-toggler__label:hover,
    .menu-toggler__label:focus,
    .menu-toggler__label:active {
        cursor: pointer
    }

    .menu-toggler__label__text {
        position: absolute;
        text-indent: -9999px;
    }

    .menu-toggler__label__visual span {
        display: block;
        position: absolute;
        width: 100%;
        height: 6px;
        background-color: #1fbed6;
        transition: transform .5s, top .5s, bottom .5s, opacity .2s;
        opacity: 1;
    }

    .menu-toggler__label__visual span:nth-child(1){
        top: 5px;
    }

    .menu-toggler__label__visual span:nth-child(2) {
        top: 50%;
        margin-top: -3px
    }

    .menu-toggler__label__visual span:nth-child(3) {
        bottom: 5px;
    }

    .menu-toggler:checked + .menu-toggler__label .menu-toggler__label__visual span:nth-child(1) {
        transform: rotate(45deg);
        top: 19px;
    }

    .menu-toggler:checked + .menu-toggler__label .menu-toggler__label__visual span:nth-child(2) {
        opacity: 0;
    }

    .menu-toggler:checked + .menu-toggler__label .menu-toggler__label__visual span:nth-child(3) {
        transform: rotate(-45deg);
        bottom: 19px;
    }




    .main-menu {
        position: absolute;
        list-style-type: none;
        top: 100%;
        left: 0;
        right: 0;
        margin: 0;
        padding-left: 0;
        display: none;
    }

    .menu-toggler:checked ~ .main-menu {
        display: block;
    }

    .main-menu li {
        margin: 0;
        padding: 0;
        border-bottom: 1px solid #fff;
    }

    .main-menu a {
        display: block;
        line-height: 44px;
        padding: 0 .7em;
    }

    .main-menu a,
    .main-menu a:visited,
    .main-menu a:hover,
    .main-menu a:focus,
    .main-menu a:active {
        text-decoration: none;
        color: #fff;
    }

    .main-menu a,
    .main-menu a:visited {
        background-color: #1fbed6;
    }

    .main-menu a:hover,
    .main-menu a:focus,
    .main-menu a:active {
        background-color: #17a0b5;
    }


    .icones {
        flex-grow: 1;
        position: absolute;
        top: 0;
        margin-left: 92%;
    }


    /* images filente*/
    .magesContainer {
        position: relative;
    }

    .mages {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

    /* ARIANE */
    #ariane{
        margin-top: 15px;
    }

    /* MAIN */
    main{
        /*margin-top: 150px;*/
    }

    /* BODY */
    body {
        margin: 0 auto;
        font-family: 'montserrat', sans-serif;
    }

}