@media screen and ( min-width: 640px) and ( max-width: 1024px) {
    /* HEADER */

    header {
        position: relative;
        width: 100%;
        border-bottom: 2px solid #1fbed6;
        background-color: #fff;
    }

    .headerBlock {
        max-width: 960px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        position: relative;


    }

    .header_ban {
        display: flex;
        max-width: 200px;
    }

    .header_ban_legend_color {
        color: #1ebed6;
    }

    .headerBlock section {
        display: flex;
        flex-direction: column;
    }

    .menu-toggler {
        display: none;
    }

    .menu-toggler__label {
        /*display: block;*/
        position: absolute;
        right: 10px;
        bottom: 0;
        width: 42px;
        height: 42%;
    }

    .menu-toggler__label:hover,
    .menu-toggler__label:focus,
    .menu-toggler__label:active {
        cursor: pointer
    }

    .menu-toggler__label__text {
        position: absolute;
        text-indent: -9999px;
    }

    .menu-toggler__label__visual span {
        display: block;
        position: absolute;
        width: 100%;
        height: 6px;
        background-color: #1fbed6;
        transition: transform .5s, top .5s, bottom .5s, opacity .2s;
        opacity: 1;
    }

    .menu-toggler__label__visual span:nth-child(1){
        top: 5px;
    }

    .menu-toggler__label__visual span:nth-child(2) {
        top: 50%;
        margin-top: -3px
    }

    .menu-toggler__label__visual span:nth-child(3) {
        bottom: 5px;
    }

    .menu-toggler:checked + .menu-toggler__label .menu-toggler__label__visual span:nth-child(1) {
        transform: rotate(45deg);
        top: 19px;
    }

    .menu-toggler:checked + .menu-toggler__label .menu-toggler__label__visual span:nth-child(2) {
        opacity: 0;
    }

    .menu-toggler:checked + .menu-toggler__label .menu-toggler__label__visual span:nth-child(3) {
        transform: rotate(-45deg);
        bottom: 19px;
    }


    .dropdown{
        text-decoration: none;
        width: 100%;
        margin: 0;
        padding: 0;
        list-style-type: circle;
        color:#787878;
        background-color: #FFF ;
    }



    .dropdown_title {
        /*padding: 10px;*/
        position: relative;
        /*margin-top: 50px;*/
    }

    .main-menu {
        position: absolute;
        list-style-type: none;
        top: 100%;
        left: 0;
        right: 0;
        margin: 0 ;
        padding-left: 0;
        display: none;
    }

    .dropdown-content a{
        margin: 3px;
        padding: 0;
        border-bottom: 1px solid #fff;
        background-color: #1ebed6;
    }


    .menu-toggler:checked ~ .main-menu {
        display: block;
    }

    .main-menu li {
        margin: 0;
        padding: 0;
        border-bottom: 1px solid #1fbed6;


    }



    .main-menu span{

        margin: 0;
        padding: 0;
        border-bottom: 1px solid #1fbed6;
    }

    .main-menu a, .main-menu span {
        display: block;
        line-height: 44px;
        padding: 0 .7em;
    }

    .main-menu a,
    .main-menu a:visited,
    .main-menu a:hover,
    .main-menu a:focus,
    .main-menu a:active {
        text-decoration: none;
        color: #fff;
    }

    .main-menu a:not(.dropdown_link) ,
    .main-menu a:visited{
        background-color: #FFF;
        color: #787878;
    }

    .main-menu a:hover,
    .main-menu a:focus,
    .main-menu a:active {
        background-color: #FFF;
        color: #1fbed6;
    }


    .icones {
        flex-grow: 1;
        position: absolute;
        top: 0;
        margin-left: 92%;
    }


    /* images filente*/
    .magesContainer {
        position: relative;
    }

    .mages {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

    .main_carousel_figcaption {
        position: absolute;
        color: white;
        width: 15%;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

    .main_carousel{
        padding: 0;
        margin: 0;

        position: relative;

    }

    .main_text_title{
        margin: auto;
        max-width: 370px;
        text-align: center;
        color: #1ebed6;
    }

    .main_text p:nth-child(2){
        margin: 15px auto;
        max-width: 675px;
        text-align: center;
    }

    .main_text p:nth-child(3){

        margin: 15px auto;
        max-width: 675px;
        text-align: center;
    }
    .main_info{
        margin: 50px auto;
        display: flex ;
        max-width: 800px;
        /*flex-direction: row;*/
    }
    .main_info figure{
        background-color: #1ebed6;
        flex-grow: 1;
        margin: 10px;
        color: white;
        text-align: center;

        padding: 10px;
    }

    .main_actu{
        flex-wrap: wrap;
        display: flex ;
        max-width: 1200px;
        margin: auto;
        justify-content: space-between;
        /*margin-left: 20px;*/

    }
    .main_actu_title{
        width: 100%;
    }

    .main_actu figure{
        background-color: #1ebed6;
        /*margin-left: 40px;*/
        color: white;
        text-align: center;
        /*flex: 1;*/
        min-width: 250px;
        max-width: 48%;
        padding: 0;
        margin: 0 0 10px 0;
    }
    .main_actu aside{
        margin: 10px auto;
    }

    .main_actu_button{
        width: 150px;
        height: 50px;
        border: 1px #808080 solid;



    }
    /* MAIN */
    main{
        /*margin-top: 150px;*/
    }

    /* BODY */
    body {
        margin: 0 auto;
        font-family: 'montserrat', sans-serif;
    }

    footer{
        background-color: #1ebed6;

    }
    .footerBlock {
        max-width: 1200px;
        margin: 10px auto 0;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .footerBlock_first_section{
        display: flex;
        justify-content: space-between;
        margin: 15px;
    }

    .footerBlock_first_section article{
        color: white;
        padding: 0;
        margin: 0;
        width: 23%;
    }
    .footerBlock_first_section_logo_fb{
        width: 25px;
        height: 25px;
    }

    .footerBlock_first_section_logo_twitter{
        width: 25px;
    }
    .footerBlock_first_section article{
        display: flex;
        flex-direction: column;
    }
    .footerBlock_first_section a{

        color: white;
    }

    .footerBlock_second_section{
        margin: auto;
    }

    .footerBlock_second_section p{
        color: #FFF;
        text-align: center;
        font-weight: bold;
    }

}