@media screen and ( min-width: 1024px) {
    /* HEADER */

    .headerBlock {
        max-width: 960px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        position: relative;
    }
    .header_ban {
        display: flex;
        flex-grow: 1;
        max-width: 300px;
    }
    .menu-toggler__label__text{
        display: none;
    }
    .main-menu{
        float: right;
        display: flex;
        font-size: 12px;
        margin-bottom: 10px;
    }
    .dropdown_title{
        display: block;
        color: #787878;
        text-align: center;
        padding: 2px 8px;
        text-decoration: none;
        float: left;
        border-right:1px solid #bbb;
    }

    .dropdown_title:hover{
        color: #1fbed6 ;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .header_title{
        color: #1fbed6 ;
    }

    .header_logo{
        background: url("img/logo-badenbaden@2x.png") no-repeat;
        background-size: 100px 50px;
        width: 140px;
    }
    li {
        float: left;

        border-right:1px solid #bbb;
    }

    li:last-child {
        border-right: none;
    }

    li a {
        display: block;
        color: #787878;
        text-align: center;
        padding: 2px 8px;
        text-decoration: none;
    }

    li a:hover:not(.active) {
        color: #1fbed6;
    }

    .active {
        color: #1fbed6;
    }

    .dropbtn {
        border: none;
        cursor: pointer;
        display: block;
        color: #787878;
        text-align: center;
        padding: 2px 3px;
        text-decoration: none;
    }

    .dropdown {
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        top: 130px;
        border-top: 1px solid #1fbed6;
        min-width: 195px;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {background-color: #f1f1f1}

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .icones {
        flex-grow: 1;
        position: relative;
        top: 10px;
        margin-left: 90%;
    }

    /* images filente*/
    .main_carousel_figcaption {
        position: absolute;
        color: white;
        width: 15%;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .main_carousel{
        padding: 0;
        margin: 0;
        position: relative;

    }

    .main_carousel button{
        width: 150px;
        height: 30px;
        border: 1px #FFF solid;
        background-color: Transparent;
        color: #FFF;
    }

    .main_text{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .main_text_title{
        margin: auto;
        max-width: 370px;
        text-align: center;
        color: #1ebed6;
    }

    .main_text p:nth-child(2){
        margin: 15px auto;
        max-width: 675px;
        text-align: center;
    }

    .main_text p:nth-child(3){
        margin: 15px auto;
        max-width: 675px;
        text-align: center;
    }

    section .main_info{
        margin: 15px auto;
        display: flex ;
        max-width: 800px;
    }
    .main_info figure{
        background-color: #1ebed6;
        flex-grow: 1;
        margin: 10px;
        color: white;
        text-align: center;
        padding: 10px;
    }

    .main_actu{
        flex-wrap: wrap;
        display: flex ;
        max-width: 1200px;
        margin: auto;
        justify-content: space-between;

    }
    .main_actu_title{
        width: 100%;
    }

    .main_actu figure{
        color: black;
        text-align: center;
        padding: 0;
        margin: 0;
        width: 23%;
    }

    .main_actu aside{
        margin: 10px auto;
    }

    .main_actu_button{
        background-color: transparent;
        width: 150px;
        height: 35px;
        border: 1px #808080 solid;
    }

    .main_actu_img{
        max-width: 100%;
    }

    .main_actu_figcaption{
        display: flex;
        flex-direction: row;
    }


    .main_actu_figcaption_section{
        min-width: 70%;
        max-width: 70%;
        text-align: left;

    }

    .main_actu_figcaption_section_child{
        margin: 5px auto;
    }

    .main_actu_figcaption_section_second{
        min-width: 30%;
        max-width: 30%;
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
    }
    .main_actu_figcaption_section_second_p{
        position: relative;
        left:60%;
        margin: 0;
    }
    .main_actu_figcaption_section_second_img{
        position: relative;
        left:60%;
        width: 22px;
        height: 22px;

    }

    /* BODY */
    body {
        margin: 0 auto;
        font-family: 'montserrat', sans-serif;
    }

    footer{
        background-color: #1ebed6;
    }

    .footerBlock {
        max-width: 1200px;
        margin: 10px auto 0;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .footerBlock_first_section{
        display: flex;
        justify-content: space-between;
        margin: 15px;
    }

    .footerBlock_first_section article{
        color: white;
        padding: 0;
        margin: 0;
        width: 23%;
    }
    .footerBlock_first_section_logo_fb{
        width: 25px;
        height: 25px;
    }

    .footerBlock_first_section_logo_twitter{
        width: 25px;
    }
    .footerBlock_first_section article{
        display: flex;
        flex-direction: column;
    }
    .footerBlock_first_section a{
        color: white;
    }

    .footerBlock_second_section{
        margin: auto;
    }

    .footerBlock_second_section p{
        color: #FFF;
        text-align: center;
        font-weight: bold;
    }
}
